node_modules
**/node_modules
**/dist

.git
.gitignore
.idea
.env
.env.*
.env.local
.env.development
.env.*.local

Dockerfile*
docker-compose*
compose.yml

README.md
helm-charts

**/.turbo
**/tsconfig.tsbuildinfo
